<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zhangchongantest.neu.edu.graduate_test_sockt">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <!-- 允许应用程序改变网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 允许应用程序改变WIFI连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 允许应用程序访问有关的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 允许应用程序访问WIFI网卡的网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 允许应用程序完全使用网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 允许 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TcpSendService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".TcpReceiveService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".UdpSendService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".UdpReceiveService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".BLEcontrollerService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".BlueToothReceiver"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>